<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-building"></span>
        <span class="sidebar-title">{{ 'Levensloop'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumoverheid/lifeevents/life_event/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Life event'|translate }}
            </a>
        </li>
    </ul>
</li>